<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/timeslice_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/timeslice_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OPSCPrototype"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginPage" />
        <activity
            android:name=".RegisterPage" />
        <activity
            android:name=".TimesheetPage" />
        <activity
            android:name=".ProgressPage" />
        <activity
            android:name=".ProfilePage" />
        <activity
            android:name=".NewTimesheetPage" />
        <activity
            android:name=".NewCategoryPage" />
        <activity
            android:name=".TimesheetViewPage" />
        <activity
            android:name=".PersonalProgressPage" />
        <activity
            android:name=".NewTaskPage" />
    </application>

</manifest>